@model IEnumerable<Vidly.ViewModels.CustomerViewModel>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstcustomer  = Model;
}

<h2>Customers</h2>
@if ( !lstcustomer . Any() )
{
    <p> We don't have any customers yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var customer in lstcustomer )
            {
                <tr>
                    <td>
                     @Html.ActionLink(customer.Name ,"Details" ,"Customer" ,new { customer.Id },null)
                    </td>
                    <td>
                        @customer.MembershipType.DiscountRate%
                    </td>
                    <td>
                        @customer.MembershipType.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}